<!DOCTYPE html>
<html lang="en">

<head>
   <title>Ultimii clienti</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="description" content="Quantum Able Bootstrap 4 Admin Dashboard Template by codedthemes">
   <meta name="keywords" content="appestia, Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
   <meta name="author" content="codedthemes">

   <link rel="shortcut icon" href="assets-dashboard/images/favicon.png" type="image/x-icon">
   <link rel="icon" href="assets-dashboard/images/favicon.ico" type="image/x-icon">

   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/icon/themify-icons/themify-icons.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/icon/icofont/css/icofont.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/icon/simple-line-icons/css/simple-line-icons.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/plugins/bootstrap/css/bootstrap.min.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/css/main.css">

   <link rel="stylesheet" type="text/css" href="assets-dashboard/css/responsive.css">



</head>

<body class="sidebar-mini fixed">
   <div class="wrapper">
      <div class="loader-bg">
         <div class="loader-bar">
         </div>
      </div>
      <!-- Navbar-->
      <header class="main-header-top hidden-print">
         <a href="/" class="logo"><img class="img-fluid able-logo" src="assets-dashboard/images/logo2.svg" alt="Theme-logo"></a>
         <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
            <ul class="top-nav lft-nav">
               <li class="dropdown">
                  <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                     <span>Admini Activi </span><i class=" icofont icofont-simple-down"></i>
                  </a>
                  <ul class="dropdown-menu settings-menu">
                     <li><a href="#">Admin 1 - Ionut Zorila</a></li>
                  </ul>
               </li>
            </ul>
            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu">
               <ul class="top-nav">
                  <!-- window screen -->
                  <li class="pc-rheader-submenu">
                     <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                        <i class="icon-size-fullscreen"></i>
                     </a>

                  </li>
                  <!-- User Menu-->
                  <li class="dropdown">
                     <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                        <span>Ionut <b>Zorila</b> <i class=" icofont icofont-simple-down"></i></span>

                     </a>
                     <ul class="dropdown-menu settings-menu">
                        <li><a href="#!"><i class="icon-settings"></i> Settings</a></li>
                        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="/login"><i class="icon-logout"></i> Logout</a></li>

                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li class="nav-level">--- Navigation</li>
                <li class="treeview">
                    <a class="waves-effect waves-dark" href="/dashboard">
                        <i class="icon-speedometer"></i><span>Meniu general</span>
                    </a>                
                </li>
                <li class="active treeview">
                  <a class="waves-effect waves-dark" href="/tabel-clienti">
                      <i class="icon-list"></i><span> Tabel Clienti</span>
                  </a>                
              </li>
                </li>

                <li class="nav-level">--- More</li>

                <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-docs"></i><span>Pages</span><i class="icon-arrow-down"></i></a>
                    <ul class="treeview-menu">  
                        <li><a class="waves-effect waves-dark" href="/" target="_blank"><i class="icon-arrow-right"></i> Acasa</a></li>
                        <li><a class="waves-effect waves-dark" href="/about"><i class="icon-arrow-right"></i> Despre noi</a></li>  
                        <li><a class="waves-effect waves-dark" href="/about"><i class="icon-arrow-right"></i> Contact</a></li> 
                        <li><a class="waves-effect waves-dark" href="/products"><i class="icon-arrow-right"></i> Produse</a></li>
                    </ul>
                </li>
            </ul>
         </section>
      </aside>
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <div class="container-fluid">

            <!-- Header Starts -->
            <div class="row">
               <div class="col-sm-12 p-0">
                  <div class="main-header">
                     <h4>Tabele Informative</h4>
                     <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                           <a href="/dashboard">
                              <i class="icofont icofont-home"></i>
                           </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Tabel</a>
                     </ol>
                  </div>
               </div>
            </div>
            <!-- Header end -->

            <!-- Tables start -->
            <!-- Row start -->
            <div class="row">
               <div class="col-sm-12">
                  <!-- Basic Table starts -->
                  <div class="card">
                     <div class="card-header">
                        <h5 class="card-header-text">ULTIMII CLIENTI INREGISTRATI</h5>
                     </div>
                     <div class="card-block">
                        <div class="row">
                           <div class="col-sm-12 table-responsive">
                              <table class="table" id="table">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>Nume</th>
                                       <th>Prenume</th>
                                       <th>Email</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% if(undefined !== data && data.length){ %>
                                    <% for(var i=0; i < data.length; i++) {
                                       if(data[i]['nume'] !== 'Admin'){%>
                                    <tr>
                                       <td><%= data[i]['idusers'] %></td>  
                                       <td><%= data[i]['nume'] %></td>  
                                       <td><%= data[i]['prenume'] %></td>
                                       <td><%= data[i]['email'] %></td>
                                    </tr>
                                    <%} } }%>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header">
                        <h5 class="card-header-text">ULTIMII CLIENTI CARE AU CUMPARAT</h5>
                     </div>
                     <div class="card-block">
                        <div class="row">
                           <div class="col-sm-12 table-responsive">
                              <table class="table table-inverse">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>Prenume</th>
                                       <th>Nume</th>
                                       <th>Email</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% if(undefined !== data1 && data1.length){ %>
                                       <% for(var i=0; i < data1.length; i++) {
                                          if(data1[i]['nume'] !== 'Admin'){%>
                                       <tr> 
                                          <td><%= data1[i]['idcomenzi'] %></td>
                                          <td><%= data1[i]['nume'] %></td>  
                                          <td><%= data1[i]['prenume'] %></td>
                                          <td><%= data1[i]['email'] %></td>
                                       </tr>
                                       <%} } }%>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- Required Jqurey -->
   <script src="assets-dashboard/plugins/jquery/dist/jquery.min.js"></script>
   <script src="assets-dashboard/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="assets-dashboard/plugins/tether/dist/js/tether.min.js"></script>

   <!-- Required Fremwork -->
   <script src="assets-dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- waves effects.js -->
   <script src="assets-dashboard/plugins/Waves/waves.min.js"></script>

   <!-- Scrollbar JS-->
   <script src="assets-dashboard/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="assets-dashboard/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <!--classic JS-->
   <script src="assets-dashboard/plugins/classie/classie.js"></script>

   <!-- notification -->
   <script src="assets-dashboard/plugins/notification/js/bootstrap-growl.min.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="assets-dashboard/js/main.min.js"></script>
   <script type="text/javascript" src="assets-dashboard/pages/elements.js"></script>
   <script src="assets-dashboard/js/menu.min.js"></script>
</body>

</html>
